         {
             "serverConfigs": [
                 {
                     "id": 0,
                     "address": {
                         "ip": "127.0.0.1",
                         "clientPort": 8000,
                         "serverPort": 9000
                     }
                 },
                 {
                     "id": 1,
                     "address": {
                         "ip": "127.0.0.1",
                         "clientPort": 8001,
                         "serverPort": 9001
                     }
                 }
             ]
         }