         {
             "serverConfigs": [
                 {
                     "id": 0,
                     "address": {
                         "ip": "52.40.177.110",
                         "clientPort": 8000,
                         "serverPort": 9000
                     }
                 },
                 {
                     "id": 1,
                     "address": {
                         "ip": "50.112.167.84",
                         "clientPort": 8000,
                         "serverPort": 9000
                     }
                 },
                 {
                     "id": 2,
                     "address": {
                         "ip": "52.39.200.161",
                         "clientPort": 8000,
                         "serverPort": 9000
                     }
                 }
             ]
         }
